/*
font-family: "sigmund-pro", sans-serif;
font-weight: 800;
font-style: normal;
*/
* {
padding: 0;
margin: 0;
}

html {
box-sizing: border-box;
}

body {
background: #400862;    
}

header {
width: 95%;
height: 85px;
padding: 70px 15px 15px 50px;   
}

header h2 {  
display: block;
width: 25%;  
}

header h2 a {
text-decoration: none;  
color: #fafafa;
font: normal 700 1em "sigmund-pro", sans-serif; 
}

nav {
width: 10%;
height: 45px;
float: right;
margin: -45px 50px 0 0;  
}

nav div  {
background: #fafafa;
display: block;    
width: 90%;
height: 60px;
text-decoration: none;
border-radius: 25px;
}

nav div a {
color: #400862;
font: normal 700 1.2em "sigmund-pro", sans-serif; 
text-decoration: none;
text-align: center;
cursor: pointer;
display: block;
margin: 0 auto;
line-height: 3em;
}

main div {
width: 45%;
height: 770px;    
color: #fafafa;
font: normal 500 2.6em "sigmund-pro", sans-serif;    
padding: 125px 0 0 175px;
}

main div h1 {
margin-bottom: 50px;
}

main div a {
border: 2px solid #fafafa;
border-radius: 25px;    
color: #fafafa;
font: normal 500 0.7em "sigmund-pro", sans-serif; 
text-decoration: none;
padding: 15px 75px;
}

.container {
background: #F2F2F2;
width: 100%;
height: 90vh;
padding-top: 5%;
}

.container h3 {
text-align: center;
font: normal 600 32px "sigmund-pro", sans-serif; 
color: #400862;
margin-bottom: 35px;
}


#signup, #signin, #get-started {
width: 25%;
height: 550px;
border-radius: 50px;
background: #fff;
margin: 0 auto;
padding: 50px 75px;
}

#signin {
height: 400px;
margin: 0 auto;
}

#get-started {
height: 475px;
}


#signup form {
width: 100%;   
margin: 0 auto; 
}

#signup h4, #signin h4, #get-started h4 {
font: normal 700 32px "sigmund-pro", sans-serif; 
color: #8220BF;
margin-bottom: 35px;
}

#signup input[type='text']::placeholder,
#signup input[type='email']::placeholder,
#signup input[type='password']::placeholder,
#signin input[type='text']::placeholder,
#signin input[type='email']::placeholder,
#signin input[type='password']::placeholder,
#get-started input[type='text']::placeholder,
#get-started select {
padding-left: 10px;
}

#signup input[type='text'],
#signin input[type='text'],
#get-started input[type='text'],
#get-started select {
width: 100%;
height: 50px;
border: 1px solid #ccc;
margin-bottom: 35px;
border-radius: 15px;
color: #7b7b7b;
}

#signup input[type='email'] {
width: 100%;
height: 50px;
border: 1px solid #ccc;
margin-bottom: 35px;
border-radius: 15px;
}    

#signup input[type='password'],
#signin input[type='password'] {
width: 100%;
height: 50px;
border: 1px solid #ccc;
margin-bottom: 35px;
border-radius: 15px;
}

#signup input[type='submit'],
#signin input[type='submit'] {
background: #400862;
border-radius: 25px;
border: none;
color: #fafafa;
font: normal 500 1em "sigmund-pro", sans-serif; 
width: 50%;
height: 65px;
cursor: pointer;
}

#get-started div {
font: normal 400 1em "sigmund-pro", sans-serif;  
color: #7b7b7b;
margin-top: 15px;
}

#get-started span {
margin: 0 10px; 
}

#get-started button {
border: 1px solid #ccc;
color: #7b7b7b;
background: transparent;
border-radius: 15px;
width: 150px;
height: 50px;  
cursor: pointer;
}

#get-started button:focus {
background: #400862;
color: #fafafa;    
}

#get-started button:last-of-type {
margin-left: 10px;
}

#profile-photo {
width: 100%;
height: auto;
margin-top: 35px;
padding: 0 !important;
}

#get-started input[type=file] {
text-indent: -9999px;   
background: #400862; 
border-radius: 20px;
cursor: pointer;
}

#get-started input[type=file]::file-selector-button {
border: none;
width: 95%;
height: 70px;
font: normal 500 1em "sigmund-pro", sans-serif;
}

#get-started label {
color: #fafafa;
font: normal 500 1em "sigmund-pro", sans-serif; 
display: block;
position: relative;
top: 45px;
left: 60px;
width: 130px;
}

#get-started input[type='button'] {
width: 45%;
height: 70px; 
margin-left: 10px;   
cursor: pointer;
background: #8220BF;
color: #fafafa;
border-radius: 20px;
border: none;
font: normal 500 1em "sigmund-pro", sans-serif; 
}









footer {
width: 100%; 
height: auto; 
background: #fff; 
padding: 25px 0; 
position: fixed;
bottom: 0;
}

footer p {
color: #400862;
font: normal 500 1em "sigmund-pro", sans-serif;   
text-align: center;

}

