/*
font-family: "sigmund-pro", sans-serif;
font-weight: 800;
font-style: normal;
*/
* {
padding: 0;
margin: 0;
}

html {
box-sizing: border-box;
}

body {
background: #400862;    
}

header {
width: 95%;
height: 85px;
padding: 70px 15px 15px 50px;   
}

header h2 {  
display: block;
width: 25%;  
}

header h2 a {
text-decoration: none;  
color: #fafafa;
font: normal 700 1em "sigmund-pro", sans-serif; 
}

nav {
width: 10%;
height: 45px;
float: right;
margin: -45px 50px 0 0;  
}

nav div  {
background: #fafafa;
display: block;    
width: 90%;
height: 60px;
text-decoration: none;
border-radius: 25px;
}

nav div a {
color: #400862;
font: normal 700 1.2em "sigmund-pro", sans-serif; 
text-decoration: none;
text-align: center;
cursor: pointer;
display: block;
margin: 0 auto;
line-height: 3em;
}

main div {
width: 45%;
height: 770px;    
color: #fafafa;
font: normal 500 2.6em "sigmund-pro", sans-serif;    
padding: 125px 0 0 175px;
}

main div h1 {
margin-bottom: 50px;
}

main div a {
border: 2px solid #fafafa;
border-radius: 25px;    
color: #fafafa;
font: normal 500 0.7em "sigmund-pro", sans-serif; 
text-decoration: none;
padding: 15px 75px;
}

.container {
background: #F2F2F2;
width: 100%;
height: 850px;
padding-top: 5%;
}

#signup, #signin {
width: 25%;
height: 550px;
border-radius: 50px;
background: #fff;
margin: 0 auto;
padding: 50px 75px;
}

#signin {
height: 400px;
margin: 0 auto;
}


#signup form {
width: 100%;   
margin: 0 auto; 
}

#signup h4, #signin h4 {
font: normal 700 32px "sigmund-pro", sans-serif; 
color: #8220BF;
margin-bottom: 35px;
}

#signup input[type='text']::placeholder,
#signup input[type='email']::placeholder,
#signup input[type='password']::placeholder,
#signin input[type='text']::placeholder,
#signin input[type='email']::placeholder,
#signin input[type='password']::placeholder {
padding-left: 10px;
}

#signup input[type='text'],
#signin input[type='text'] {
width: 100%;
height: 50px;
border: 1px solid #ccc;
margin-bottom: 35px;
border-radius: 15px;
}

#signup input[type='email'] {
width: 100%;
height: 50px;
border: 1px solid #ccc;
margin-bottom: 35px;
border-radius: 15px;
}    

#signup input[type='password'],
#signin input[type='password'] {
width: 100%;
height: 50px;
border: 1px solid #ccc;
margin-bottom: 35px;
border-radius: 15px;
}

#signup input[type='submit'],
#signin input[type='submit'] {
background: #400862;
border-radius: 25px;
border: none;
color: #fafafa;
font: normal 500 1em "sigmund-pro", sans-serif; 
width: 50%;
height: 65px;
cursor: pointer;
}

footer {
width: 100%; 
height: auto; 
background: #fff; 
padding: 25px 0; 
position: fixed;
bottom: 0;
}

footer p {
color: #400862;
font: normal 500 1em "sigmund-pro", sans-serif;   
text-align: center;

}

